/* line 27, ../sass/_ie.scss */
.login {
  background-position: 0;
}
/* line 30, ../sass/_ie.scss */
.login form {
  background-color: #424242;
}

/* line 37, ../sass/_ie.scss */
.callout .content-container {
  background-color: white;
}

/* line 43, ../sass/_ie.scss */
.home-login .strapline h1 {
  background-color: white;
}

/* line 49, ../sass/_ie.scss */
.home-video .video--callout,
.home-video .video-buttons {
  display: none;
}

/* line 55, ../sass/_ie.scss */
.contact-content {
  background-color: #424242;
}
