<div class="static-page">
    <div class="content">
        <div class="contact-us">
            <div class="map">
                <div class="background"></div>
                <div class="contact-content">

                    <div class="padder">
                    <h1>Contact Us</h1>
                    <pz-share></pz-share>
                        <section>
                            <p>
                                To get in touch with us, you can contact us by:
                            </p>
                            <ul class="direct-contact">
                                <li class="net-info">

                                    <a href="mailto:info@planzheroes.org">
                                    info@planzheroes.org
                                    </a>

                                </li>

                                <li class="phone-info">
                                        07505 617 844
                                </li>

                            </ul>

                            <h2>Social</h2>
                            <p>Follow us to keep up to date with the latest news and events!</p>

                            <ul class="social">
                                <li><a class="facebook" href="http://www.facebook.com/planzheroes/" target="_social">Facebook</a></li>
                                <li><a class="instagram" href="https://www.instagram.com/planzheroes/" target="_social">Instagram</a></li>
                                <li><a class="linkedin" href="http://www.linkedin.com/today/planzheroes" target="_social">LinkedIn</a></li>
                                <li><a class="youtube" href="http://www.youtube.com/user/planzheroes" target="_social">YouTube</a></li>
                            </ul>

                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>