<article>
    <h1>Cookie policy</h1>
    <style>
        p{
            margin: 0px;
        }
        sub{
            font-size: 67%;
            vertical-align: -10%;
        }
        sup{
            font-size: 67%;
            vertical-align: 33%;
        }
        .s1{
            margin-bottom: 2.3535%;
        }
        .s2{
            margin-bottom: 1.8828%;
        }
        .s3{
            margin-bottom: 1.8828%;
            padding-left: 8.4726%;
        }
        .s5{
            margin-bottom: 1em;
            padding-left: 3em;
        }
        .s7{
            font-weight: bold;
        }
        .s8{
            margin-bottom: 2.3535%;
        }
        .s10 {
            padding-left: 3em;
            margin-bottom: 2.3535%;
        }
        .s12{
            -webkit-hyphens: none;
            color: #000000;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            hyphens: none;
            letter-spacing: 0.0000em;
            margin-bottom: 1.8828%;
            margin-top: 0.0000%;
            padding-left: 8.4726%;
            padding-right: 0.0000%;
            text-align: justify;
            text-decoration: none;
            text-indent: 0.0000%;
            text-transform: none;
            white-space: normal;
        }
        .c1{
            font-weight: bold;
        }
        .c2{
        }
        .c3{
            text-decoration: underline;
        }
        .c4{
            text-decoration: underline;
        }
        .c5{
            color: #000000;
        }
    </style>
    <section>
        <p class="s2"><span class="c1">1. Introduction</span></p>

        <p class="s2"><span class="c2">1.1 Our website uses cookies.</span></p>

        <p class="s2"><span class="c2">1.2 By using our website and agreeing to this policy,
        you expressly consent to our use of cookies in accordance with the terms of this
        policy.</span></p>

        <p class="s2"><span class="c1">2.</span> <span class="c2">This policy is maintained
        by Mark Smith, Barrister, on behalf of Plan Zheroes, and is based on a template
        kindly provided by SEQ Legal.</span></p>

        <p class="s2"><span class="c1">3. About cookies</span></p>

        <p class="s2"><span class="c2">3.1 A cookie is a file containing an identifier (a
        string of letters and numbers) that is sent by a web server to a web browser and is
        stored by the browser. The identifier is then sent back to the server each time the
        browser requests a page from the server.</span></p>

        <p class="s2"><span class="c2">3.2 Cookies may be either "persistent" cookies or
        "session" cookies: a persistent cookie will be stored by a web browser and will
        remain valid until its set expiry date, unless deleted by the user before the expiry
        date; a session cookie, on the other hand, will expire at the end of the user
        session, when the web browser is closed.</span></p>

        <p class="s2"><span class="c2">3.3 Cookies do not typically contain any information
        that personally identifies a user, but personal information that we store about you
        may be linked to the information stored in and obtained from cookies.</span></p>

        <p class="s2"><span class="c2">3.4 Cookies can be used by web servers to identity and
        track users as they navigate different pages on a website and identify users
        returning to a website.</span></p>

        <p class="s2"><span class="c1">4. Our cookies</span></p>

        <p class="s2"><span class="c2">4.1 We use a cookie to track whether the policy pop-up
        is accepted or not. No other cookies are in use apart from those referred to in
        paragraph 5.</span></p>

        <p class="s2"><span class="c2">4.2 We do not store cookies for mail notification
        purposes.</span></p>

        <p class="s2"><span class="c1">5. Analytics cookies</span></p>

        <p class="s2"><span class="c2">5.1 We use Google Analytics to analyse the use of our
        website.</span></p>

        <p class="s2"><span class="c2">5.2 Our analytics service provider generates
        statistical and other information about website use by means of cookies.</span></p>

        <p class="s2"><span class="c2">5.3 The analytics cookies used by our website have the
        following names: _utma, _utmb, _utmc and _utmz</span></p>

        <p class="s2"><span class="c2">5.4 The information generated relating to our website
        is used to create reports about the use of our website.</span></p>

        <p class="s2"><span class="c2">5.5 Our analytics service provider's privacy policy is
        available at: <a href="http://www.google.com/policies/privacy/">http://www.google.com/policies/privacy/</a>.</span></p>

        <p class="s2"><span class="c1">6. Third party cookies</span></p>

        <p class="s2"><span class="c2">6.1 Our website does not use third party cookies other
        than Google Analytics.</span></p>

        <p class="s2">&nbsp;</p>

        <p class="s2"><span class="c1">7. Blocking cookies</span></p>

        <p class="s2"><span class="c2">7.1 Most browsers allow you to refuse to accept
        cookies; for example:</span></p>

        <p class="s5"><span class="c2">(a) in Internet Explorer (version 10) you can block
        cookies using the cookie handling override settings available by clicking "Tools",
        "Internet Options", "Privacy" and then "Advanced";</span></p>

        <p class="s5"><span class="c2">(b) in Firefox (version 24) you can block all cookies
        by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for
        history" from the drop-down menu, and unticking "Accept cookies from sites";
        and</span></p>

        <p class="s5"><span class="c2">(c) in Chrome (version 29), you can block all cookies
        by accessing the "Customise and control" menu, and clicking "Settings", "Show
        advanced settings" and "Content settings", and then selecting "Block sites from
        setting any data" under the "Cookies" heading.</span></p>

        <p class="s2"><span class="c2">7.2 Blocking all cookies will have a negative impact
        upon the usability of many websites.</span></p>

        <p class="s3 s6">&nbsp;</p>

        <p class="s2"><span class="c1">8. Deleting cookies</span></p>

        <p class="s2"><span class="c2">8.1 You can delete cookies already stored on your
        computer; for example:</span></p>

        <p class="s5"><span class="c2">(a) in Internet Explorer (version 10), you must
        manually delete cookie files (you can find instructions for doing so at
        <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a>);</span></p>

        <p class="s5"><span class="c2">(b) in Firefox (version 24), you can delete cookies by
        clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for
        history", clicking "Show Cookies", and then clicking "Remove All Cookies";
        and</span></p>

        <p class="s5"><span class="c2">(c) in Chrome (version 29), you can delete all cookies
        by accessing the "Customise and control" menu, and clicking "Settings", "Show
        advanced settings" and "Clear browsing data", and then selecting "Delete cookies and
        other site and plug-in data" before clicking "Clear browsing data".</span></p>

        <p class="s2"><span class="c2">8.2 Deleting cookies will have a negative impact on
        the usability of many websites.</span></p>

        <p class="s2"><span class="c1">9. Cookie preferences</span></p>

        <p class="s2"><span class="c2">9.1 You can manage your preferences relating to the
        use of cookies on our website by visiting</span> <a href="http://www.planzheroes.org/"><span class="c4">www.planzheroes.org</span></a></p>

        <h2>Terms of Use.</h2>

        <p class="s2"><span class="c1">10. By using the website you agree to the
        following;</span></p>

        <p class="s8 s9"><span class="c5">You agree that you are aware of and consent to the
        retention, management and use of data voluntarily uploaded by users to the PZ
        platform, including but not limited to;</span></p>

        <p class="s10"><span class="c2">a) contact details,</span></p>

        <p class="s10"><span class="c2">b) location details,</span></p>

        <p class="s10"><span class="c2">c) food information,</span></p>

        <p class="s10"><span class="c2">d) the notification system.</span></p>

        <p class="s8"><span class="c5">PZ does not accept any legal liability outside the
        scope of the Charity Agreement and Donor Agreements, which regulate and govern the
        entirety of the relationship that each signatory thereof has with PZ.</span></p>

        <p class="s2"><span class="c1">11. Our details</span></p>

        <p class="s2"><span class="c2">11.1 This website is owned and operated by Plan
        Zheroes, registered Charity 1154291 (PZ).</span></p>

        <p class="s2">11.2 You can contact us by any of the means set out on our website <a href="http://www.planzheroes.org/"><span class="c4">www.planzheroes.org</span></a></p>
    </section>
</article>
