<article class="donate">
    <h1>Donate</h1>
    <pz-share></pz-share>

    <section>
        <!-- <p>So many people going hungry and, at the same time, so much good food going to waste. It doesn’t have to be this way! Here are three ways you can donate to our cause to make the change:</p> -->

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-4">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <a ui-sref="registration"><img src="images/icons/icon-donate-food.png" alt=""></a>
                    </div>
                    <h3><a ui-sref="registration">Donate food</a></h3>
                    <div class="caption">
                        <p>You own or work in a business that sometimes has surplus food at the end of the day? You don’t like seeing good food going to waste? Whether it is a restaurant, a catering company, a supermarket, a food store, a stall etc, whether it is big or small, operating on a regular basis or occasional — you can make a difference! It is simple and easy and you will make so many people happy.</p>
                        <p>Simply register as a business on our website using the link below. And if you know of any business that might like to donate surplus food, please spread the word - the more the merrier!</p>
                    </div>
                    <a ui-sref="registration" class="btn btn-lg btn-success">Join us</a>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-4">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <a target="_blank" href="https://mydonate.bt.com/donation/donate.html?charity=planzheroes"><img src="images/icons/icon-donate-money.png" alt=""></a>
                    </div>
                    <h3><a target="_blank" href="https://mydonate.bt.com/donation/donate.html?charity=planzheroes">Donate money</a></h3>
                    <div class="caption">
                        <p>There are so many great charities asking for your financial support — what makes Plan Zheroes different is that we support many of those charities too! By offering them free sources of good quality food, they are saving money and can use more of their budgets to provide their service. It’s a real win-win! With your financial support we can recruit more people to get food to the people who really need it.</p>
                        <p>Please be as generous as you can and rest assured that every penny of your donation will be used efficiently for our cause.</p>
                    </div>
                    <a target="_blank" href="https://mydonate.bt.com/donation/donate.html?charity=planzheroes" class="btn btn-lg btn-success">Make a donation</a>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-4">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <a ui-sref="contact"><img src="images/icons/icon-donate-fundraise.png" alt=""></a>
                    </div>
                    <h3><a ui-sref="contact">Help us fundraise</a></h3>
                    <div class="caption">
                        <p>It’s a simple equation: the more supporters we have, the more people in need we can reach and the more food we can save from being wasted! And you can be part of the equation.</p>
                        <p>Do you have experience in fundraising? Perhaps you could help us plan our campaigns, research the best sources of funding or help us with applications? Or maybe you prefer to help us organise inspiring fundraising events?</p>
                        <p>Any ideas welcome! If you would like to help, please get in touch here.</p>
                    </div>
                    <a ui-sref="contact" class="btn btn-lg btn-success">Contact us</a>
                </div>
            </div>
        </div>

        <p class="aside quote">Whichever way you decide to help us, we are really grateful and we’ll love you forever — <br />so thanks a million!</p>
    </section>
</article>
