<article>
    <h1>FAQs</h1>
    <pz-share></pz-share>
    <section class="faq-main">
        <div id="questions">
            <section class="questions-list col-md-6">

                <div>
                    <h2>Plan Zheroes</h2>
                    <ul>
                        <li><a href="#" scroll-to="question-1">Does Plan Zheroes collect or transport food?</a></li>
                        <li><a href="#" scroll-to="question-2">Is there a charge for Plan Zheroes' service?</a></li>
                        <li><a href="#" scroll-to="question-3">Can food be dropped off at the charity's location?</a></li>
                        <li><a href="#" scroll-to="question-4">Can food processors donate?</a></li>

                    </ul>
                </div>
            </section>
            <section class="questions-list col-md-6">

                <div>
                    <h2>Zheroes</h2>
                    <ul>
                        <li><a href="#" scroll-to="question-5">Is surplus food the same as food waste?</a></li>
                        <li><a href="#" scroll-to="question-6">Can packaged foods that do not need refrigeration be donated?</a></li>
                        <li><a href="#" scroll-to="question-7">What about fresh produce?</a></li>
                        <li><a href="#" scroll-to="question-8">What about perishable foods that are past the "best before" date?</a></li>
                        <li><a href="#" scroll-to="question-9">What foods are not suitable for donation?</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <div>
            <section class="questions-list col-md-6">

                <div>
                    <h2>Food</h2>
                    <ul>
                        <li><a href="#" scroll-to="question-10">What are the food donors' liabilities?</a></li>
                        <li><a href="#" scroll-to="question-11">What are my liabilities as a food recipient?</a></li>
                        <li><a href="#" scroll-to="question-12">What does the Charity Agreement say?</a></li>
                        <li><a href="#" scroll-to="question-13">Is it safe for the charity?</a></li>
                        <li><a href="#" scroll-to="question-14">Can the charity sell the food once it's received?</a></li>
                        <li><a href="#" scroll-to="question-15">What happens to the food after it's been donated to the charity?</a></li>
                        <li><a href="#" scroll-to="question-16">Can licensed food establishments donate menu or deli items?</a></li>

                    </ul>
                </div>
            </section>
        </div>
        <section class="answers-list  col-md-12">

            <div>
                <p>Do you have more questions? Write to us at <a href="mailto:info@planzheroes.org" target="_blank">info@planzheroes.org</a></p>

                <ul>
                <li id="question-1"><strong>Does Plan Zheroes collect or transport food?</strong>

                    <p>No. Plan Zheroes provides a system to help connect donors with distributors, charities and community projects
                        that
                        can benefit from surplus food.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-2"><strong>Is there a charge for Plan Zheroes' service?</strong>

                    <p>No. The use of our map and tools is free to all today.<br>However, we are developing a range of remunerated
                        tailored
                        services for organisations. Please get in touch if you are interested.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-3"><strong>Can food be dropped off at the charity's location?</strong>

                    <p>This is something that needs to be agreed between business and charity. In many cases there is no transport
                        available, and the help of a volunteer or another business may be needed. PZ can help find solutions.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-4"><strong>Can food processors donate?</strong>

                    <p>Food processors are encouraged to donate foods that may not meet their specifications for reasons that do not
                        affect
                        food safety, such as package printing errors, shape or any other reason but are still perfectly safe to
                        eat.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-5"><strong>Is surplus food the same as food waste?</strong>

                    <p>Not at all! Surplus food occurs when too much food is produced and cannot be sold, or when a supplier or
                        manufacturer
                        sends too much to a business that ordered it.<br>However, in many cases it is mixed up with food waste, most
                        likely
                        because there is no system in place to deal with it sustainably.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>


                <li id="question-6"><strong>Can packaged foods that do not need refrigeration be donated?</strong>

                    <p>Yes! The donation of commercially canned, boxed, and otherwise packaged foods is encouraged.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-7"><strong>What about fresh produce?</strong>

                    <p>All fresh produce is suitable for donation. Good practice and current legislation must be observed to ensure
                        the
                        products supplied remain safe and legal.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-8"><strong>What about perishable foods that are past the "best before" date?</strong>

                    <p>Perishable foods kept past the original manufacturer's "best before" date can be donated, but not foods which
                        are past their "use by" date. "Best before" dates generally indicate the manufacturer's suggested period
                        for peak quality, and the food may be perfectly safe for consumption after this date.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-9"><strong>What foods are not suitable for donation?</strong>

                    <p>Certain foods are not suitable for donation because of food safety regulations. These foods include:</p>
                    <ul>
                        <li id="question-17"><strong>Home </strong>canned, vacuum-packed or pickled foods
                        </li>
                        <li id="question-18"><strong>Perishable foods past a "use by" date</strong>, unless frozen but with a date of
                            when it was frozen.
                        </li>
                        <li id="question-19"><strong>Foods in soiled containers</strong>, in sharply dented or rusty cans, or in opened
                            or torn containers
                        </li>
                        <li id="question-20"><strong>Foods with an "off" smell,</strong> spoiled foods, foods that have been temperature
                            abused
                        </li>
                        <li id="question-21"><strong>Foods prepared, cooked, cooled, or reheated at home</strong>
                        </li>
                    </ul>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-10"><strong>What are the food donors' liabilities?</strong>

                    <p>None, because the charities have to sign our Charity Agreement before they can add their profile to our map
                        and
                        start to receive the donations. Charities commit to take full responsibility for the safety of the food once
                        they
                        receive it.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>


                <li id="question-11"><strong>What are my liabilities as a food recipient?</strong>

                    <p>Charities must sign the "Charity Agreement" when join the map and starting to receive the donations.
                        Charities
                        commit to take full responsibility for the safety of the food once they receive it.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>


                <li id="question-12"><strong>What does the Charity Agreement say?</strong>

                    <p>All food products, once collected by the charity, shall be the sole property of the charity. The charity
                        undertakes
                        that it will comply with legal standards of hygiene in the handling, storage, distribution, preparation and
                        serving
                        of products, and will observe good practice and current legislation to ensure the products supplied remain
                        safe
                        and
                        legal. The charity will ensure that all staff involved in handling of products will be trained in food
                        hygiene
                        to a
                        level commensurable with their duties as required by current legislation. To find out more. <a
                                ui-sref="terms_and_conditions">http://www.planzheroes.org/terms/</a>
                    </p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>


                <li id="question-13"><strong>Is it safe for the charity?</strong>

                    <p>We recommend that charities should only receive food from donors they trust. Donors must take all measures to
                        ensure
                        the food is properly packed and safe to donate. The businesses have also signed an agreement, which
                        establishes
                        the
                        terms of any food donation.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>


                <li id="question-14"><strong>Can the charity sell the food once it's received?</strong>

                    <p>No. Donated food cannot be sold. It is for service users. However, it is possible that a charity receive
                        ingredients
                        to be used in cooking meals to be sold, either as part of the charity mission or as a means to cover the
                        cost of
                        cooking. The charges refer to a service provided not to food. Charities are not allowed to sell the food as
                        was
                        received from a donor.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-15"><strong>What happens to the food after it's been donated to the charity?</strong>

                    <p>Food donated to charities shall only be used on premises managed by the charity or designated soup runs. Any
                        unused
                        food must be disposed of responsibly after first removing any packaging or anything that could identify the
                        food
                        as
                        originating from a specific donor. If a charity has suitable refrigeration facilities on site to enable food
                        to
                        be
                        kept at or below 8°C then it may be consumed up until 2pm on the day after collection. If the charity
                        does
                        not have
                        suitable refrigeration facilities all food must be consumed on the day of collection.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>
                <li id="question-16"><strong>Can licensed food establishments donate menu or deli items?</strong>

                    <p>Because they have commercial-grade equipment, licensed food establishments may donate surplus menu and deli
                        items,
                        prepared and handled with the same consideration for safety as food sold to customers.</p>

                    <p><a href="#"  scroll-to="questions">Back to top</a></p></li>



                </ul>

            </div>
        </section>
    </section>


</article>
