<article class="how-we-work">
    <h1>How We Work</h1>
    <pz-share></pz-share>

    <section class="how-we-work">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p>Plan Zheroes is a social network, where relationships are built between food businesses and charities, communication is quick and simple and food reaches those in need, safely and conveniently.</p>
                    </div>
                </div>
                <div class="row step">
                    <div class="stepno">
                        <strong>1</strong>
                    </div>
                    <div class="text pull-left">
                        When a business has surplus food to donate, they upload their information online
                    </div>
                    <div class="image pull-right">
                        <img src="media/pages/image-step1.png" alt="When a business has surplus food to donate, they upload their information online">
                    </div>
                </div>
                <div class="row step">
                    <div class="stepno">
                        <strong>2</strong>
                    </div>
                    <div class="text pull-left">
                        Nearby charities receive a notification of the available food and can claim the food online
                    </div>
                    <div class="image pull-right">
                        <img src="media/pages/image-step2.png" alt="Nearby charities receive a notification of the available food and can claim the food online">
                    </div>
                </div>
                <div class="row step">
                    <div class="stepno">
                        <strong>3</strong>
                    </div>
                    <div class="text pull-left">
                        Volunteers and transporters in the local area get involved by helping transport the food
                    </div>
                    <div class="image pull-right">
                        <img src="media/pages/image-step3.png" alt="Volunteers and transporters in the local area get involved by helping transport the food">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 infographic">
                <img class="infographic-image" src="media/pages/image-infographic.png" alt="Infographic about how PlanZheroes works">
                <a ui-sref="registration" class="infographic-join"><img src="images/buttons/join-map.png" alt="Button to join to Plan Zheroes community">
                </a>
            </div>
        </div>
        <h2>What you need to know</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-food_donations_legal.jpg" alt="Food donations by PlanZheroes">
                        <h3>Food donations are legal</h3>
                    </div>
                    <div class="caption">
                        <p>Well... contrary to what most people believe donations of surplus food are perfectly legal in the UK! Depending on the type of food to be donated a few requirements need to be in place such as appropriate storage, temperature, packing and how to handle food. Charities and businesses sign <a href="downloads/charity/donor_agreement.pdf">an agreement</a> which confirms the charity takes full responsibility for the safety of the food once they receive it and the business only donates food that is fit for human consumption.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-visibility.jpg" alt="A screenshot of the Plan Zheroes map">
                        <h3>Zheroes near you</h3>
                    </div>
                    <div class="caption">
                        <p>Use the Zheroes map to find that bakery around the corner with lots of tasty bread to donate at 6pm, and that amazing community project down the street helping a group of young people living in food poverty. Then discover those volunteers and transporters who are so keen to help when it is difficult for a charity to collect the food available to them.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-matching_algorithms.jpg" alt="A screenshot of the recommendations given in the Plan Zheroes platform">
                        <h3>Build your Community</h3>
                    </div>
                    <div class="caption">
                        <p>Using our Food Map, you can search and filter for exactly the types of food and donation sizes that meet your requirements/specific criteria, as well as search for specific types of Zheroes. With this, you can build your community so that whenever you have food for donation or help receiving this donation, those who can help will know straight away.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-our_volunteers.jpg" alt="Volunteers helping out in the transport of food">
                        <h3>Our volunteers</h3>
                    </div>
                    <div class="caption">
                        <p>'If you are passionate and imaginative, we want to hear from you and you can sign up as volunteer <a ui-sref="registration" title="Register here!">here</a>!</p>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-monitor_food_donations.jpg" alt="Zheroes taking care of monitoring the food donations">
                        <h3>Monitoring food donations</h3>
                    </div>
                    <div class="caption">
                        <p>Why monitor food donations? <b>Impact</b> - to measure quantities (one week’s food donation from Borough Market might only be 30kg but, in 20 weeks, 5.2 tonnes of fresh food helped 600 people and wasn’t sent to waste). <b>Safety</b>, e.g. tracing the source in case there is an issue. <b>Management</b> - surplus food is unpredictable and requires quick decisions about the storage/transport needed, whether it is suitable for a given charity and, if not, whether it should be offered to another.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-communications.jpg" alt="Some people talking in a Plan Zheroes event">
                        <h3>Communication</h3>
                    </div>
                    <div class="caption">
                        <p>The new platform comes with a features to build local communities and local conversations. In addition we  organise fun and engaging events, such as volunteer action days and speed matching sessions which are great ways to support local communities.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-training_programmes.jpg" alt="Zheroes checking out PlanZheroes platform">
                        <h3>Training programmes</h3>
                    </div>
                    <div class="caption">
                        <p>We have developed different packages and would love to tell you more about them. It may cover learning what surplus food is, how to set up a surplus food redistribution scheme to manage obstacles or learn how to make the best use of surplus food. Volunteers will have access to training and support to learn how to engage the community and change it for the better.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="media/pages/image-how_we_work-consultancy.jpg" alt="A volunteer talking with someone from a food business">
                        <h3>Consultancy</h3>
                    </div>
                    <div class="caption">
                        <p>Plan Zheroes offers a process to help identify if a business or charity needs further assistance with food safety requirements, before they start food donations. To find more on this, have a look at the <a href="/#!/faqs">FAQs section</a>.</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section>

</article>
