<article>
    <h1>How You Can Help</h1>
    <pz-share></pz-share>

    <aside class="form-subscribe">

        <h2 class="text-center">You can help in many ways</h2>

        <div class="user_profile_callout">
            <ul class="row clearfix">
                <li class="col-xs-3 profile--block charity">
                    <a ui-sref="howyoucanhelp({target:'charity'})">
                        <img class="img-responsive" src="/images/icons/icon-charity.png" alt="Charity">
                    </a>
                    <span class="profile--type">Charity</span>
                    <span class="profile--desc">If you are a charity that needs/redistribute food</span>
                </li>
                <li class="col-xs-3 profile--block business">
                    <a ui-sref="howyoucanhelp({target:'business'})">
                        <img class="img-responsive" src="/images/icons/icon-business.png" alt="">
                    </a>
                    <span class="profile--type">Business</span>
                    <span class="profile--desc">If you work for/are a business that has surplus food to donate</span>
                </li>
                <li class="col-xs-3 profile--block volunteer">
                    <a ui-sref="howyoucanhelp({target:'volunteer'})">
                        <img class="img-responsive" src="/images/icons/icon-volunteer.png" alt="">
                    </a>
                    <span class="profile--type">Volunteer</span>
                    <span class="profile--desc">Spreading the word or transporting
                        food</span>
                </li>
                <li class="col-xs-3 profile--block transporter">
                    <a ui-sref="howyoucanhelp({target:'transporter'})">
                        <img class="img-responsive" src="/images/icons/icon-transporter.png" alt="">
                    </a>
                    <span class="profile--type">Transporter</span>
                    <span class="profile--desc">If you have a vehicle and can help to transport food</span>
                </li>
            </ul>
        </div>

    </aside>

    <section class="callout" id="business">

        <div class="content-img-container">
            <figure>
                <img src="/media/pages/image-helping_businesses.jpg" class="image--background">
            </figure>
        </div>

        <div class="content-container">
            <h2><img src="images/icons/icon-business.png" alt="Icon for businesses">Food Businesses</h2>
            <div class="description">
                <p>Small or large, ranging from restaurants to supermarkets, catering companies to cafes and depending on the quantities and types of food and when it is available, you will be matched with local charities which will be suitable to receive your surplus food.</p>
                <p>At first this process might seem time-consuming but we are absolutely confident that our service will help streamline your surplus food donations. The <a ui-sref="about">Plan Zheroes team</a> is full of knowledge and experience and is here to support you.</p>
                <p>Businesses sign a <a href="/downloads/business/donor_agreement.pdf" target="_blank">donor agreement</a> to ensure safety and reliability across the board. Please <a ui-sref="contact">let us know</a> if you have any concerns.</p>
            </div>
        </div>
    </section>

    <section class="callout image-right" id="charity">

        <div class="content-img-container">
            <figure>
                <img src="/media/pages/image-charities_communities.jpg" class="image--background">
            </figure>
        </div>
        <div class="content-container">
            <h2><img src="images/icons/icon-charity.png" alt="Icon for charities">Charities or food receivers</h2>
            <div class="description">
                <p>Charities or local groups who use surplus food to serve those in food poverty such as the homeless or refuges, have a double role, in preventing food waste and stopping hunger. Plan Zheroes can help you access sources of surplus food and reduce your expenditure.</p>
                <p>Charities sign the <a href="/downloads/charity/donor_agreement.pdf" target="_blank">charity agreement</a> to ensure safety and reliability across the board. Please <a ui-sref="contact">let us know</a> if you have any concerns.</p>
            </div>
        </div>
    </section>

    <section class="callout image-right" id="volunteer">

        <div class="content-img-container">
            <figure>
                <img src="/media/pages/image-how_you_can_help-volunteers.jpg" class="image--background">
            </figure>
        </div>

        <div class="content-container">
            <h2><img src="images/icons/icon-volunteer.png" alt="Icon for volunteers">Volunteers</h2>
            <div class="description">
                <p>Plan Zheroes offers different ways to get involved with solving food poverty so you can choose what best suits your availability, interests and natural talents.</p>
                <ul>
                    <li><b>Move food</b>, sometimes food needs to be taken from a donor to a receiver, but neither have the means for transportation. Here’s where you come in.</li>
                    <li><b>Spread the word</b>, find businesses who want to do good with their surplus food and find charities who could make use of it.</li>
                    <li><b>Build relationships</b> between charities and businesses and help them through any challenges. If you’re a real people-person, you’ll be a great Zheroes Linker!</li>
                </ul>
                <p>When you <a ui-sref="registration">sign up</a> as a volunteer to our network, you will be invited to one of our induction events to understand the ins-and-outs of the Plan Zheroes network. As a volunteer you’ll gain valuable skills and receive accreditation from us for all your wonderful work.</p>
            </div>
        </div>
    </section>
    
    <section class="callout" id="transporter">

        <div class="content-img-container">
            <figure>
                <img src="/media/pages/image-transporters.jpg" class="image--background">
            </figure>
        </div>

        <div class="content-container">
            <h2><img src="images/icons/icon-transporter.png" alt="Icon for transporters">Transporters</h2>
            <div class="description">
                <p>Zheroes Transporters are specialists in food logistics. They may be allowed to transport higher risk types of food, such as chilled food, frozen goods or hot food. They have a vehicle, space, time, spare resource and the willingness to use these for the benefit of the local community.</p>
                <p>The two top things we require are integrity and reliability, and the commitment to comply with food safety requirements.</p>
                <p>It’s free to <a ui-sref="registration">sign up</a>, so why not check it out and see how you can get involved..</p>
            </div>
        </div>
    </section>

    <section class="callout image-left" id="funder">

        <div class="content-img-container">
            <figure>
                <img src="/media/pages/image-how_you_can_help-funders.jpg" class="image--background">
            </figure>
        </div>

        <div class="content-container">
            <h2><img src="images/icons/icon-funder.png" alt="Icon for funders">Funders</h2>
            <div class="description">
                <p>We appreciate that there are so many worthy causes and we believe that Plan Zheroes is up there with the best of them! Funding means we can increase our reach, inspire more businesses and charities and make sure that more food goes to people who need it, so that no good food goes to waste. If this is a meaningful cause to you, do not wait to <a ui-sref="donate" target="_blank">donate whatever is possible for you</a>.</p>
                <p>Part of our work is to build networks and communities of people interested in helping to solve these problems. The other side of our work is to gather reliable facts and evidence about surplus food, its impact on communities, who is living in food poverty and the best ways to make good use of this available resource. If you can help Plan Zheroes, but have questions, please <a ui-sref="contact">get in touch</a>.</p>
            </div>
        </div>
    </section>
</article>
