<article class="sponsors">
    <h1>Funders</h1>
    <pz-share></pz-share>
    <section>
        <!-- Esmée Fairbairn Foundation -->
        <div class="row row-first">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.esmeefairbairn.org.uk/" target="_blank"><img src="images/sponsors/esmee_fairbairn.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>We were thrilled and most grateful to receive a 3 year grant from the Esmée Fairbairn Foundation. This will support some of the salary costs of the CEO and Operations Manager and also overheads. The grant provides a significant contribution to strengthen the organisation, with embedded managerial systems and culture, consolidating the process, and providing organisational stability.</p>
                <p>The Esmée Fairbairn Foundation aims to improve the quality of life for people and communities throughout the UK both now and in the future, by funding the charitable work of organisations with the ideas and ability to achieve positive change. The Foundation is one of the largest independent grant-makers in the UK. To find out more, please visit the <a href="http://www.esmeefairbairn.org.uk/" target="_blank">www.esmeefairbairn.org.uk</a></p>
            </div>
        </div>
        <!-- Garfield Weston Foundation -->
        <div class="row row-first">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.garfieldweston.org/" target="_blank"><img src="images/sponsors/garfield_weston_foundation.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>We were thrilled and most grateful to receive a grant from the Garfield Weston Foundation in September 2014, as a result of our first funding application to this foundation! The awarded grant is helping Plan Zheroes through the challenges of setting up a core team to strengthen our organisation.</p>
                <p>The Garfield Weston Foundation is a family-founded, grant-making trust which has been supporting charities across the UK for over 50 years. From small community groups to large national institutions, its aim is to support organisations that have effective solutions to helping those most in need, supporting a broad range of organisations and activities that share a commitment to making a positive impact to the lives of the communities in which they work, and that are driven by a desire to achieve excellence. A huge thank you to this foundation!</p>
            </div>
        </div>
        <!-- Keytree -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://keytree.co.uk/" target="_blank"><img src="images/sponsors/keytree.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>We thought we were be the luckiest team in the world when Aoife OBrien, from SAP UK and Ireland, introduced Plan Zheroes to Keytree. The whole team, from senior managers to UX Designers, totally embraced the challenge to help us create the Zheroes App. This resulted in a much bigger project, and brought to life our amazing new platform. Keytree has funded this work on a pro-bono basis, with an impressive investment of over £200K!</p>
                <p>Keytree helps companies become leaner, faster and more agile with an award-winning team of SAP experts and beautifully-designed applications. The way they work sets them apart, with multi-disciplined teams built on a foundation of communications, great design and accountability. We really believe they are driven by innovation and a passion for design and great user experience… a massive thank you to Keytree!</p>
            </div>
        </div>
        <!-- The RSA -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.thersa.org/" target="_blank"><img src="images/sponsors/RSA.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>The RSA (Royal Society for the encouragement of Arts, Manufactures and Commerce) is an organisation committed to finding innovative and creative practical solutions to social challenges. Through ideas, research and the 27,000 strong Fellowship, it seeks to harness the extraordinary amount of untapped creative potential in society - by empowering people to be active participants in creating a better world. Plan Zheroes’ co-founders, Maria Ana and Chris Wilkie are RSA Fellows, and this is why the RSA was the first organisation which funded Plan Zheroes, through the Catalyst Awards programme. This not only helped us build the original map and tap into a great pool of talent from Fellows, it also built credibility and guidance on our journey so far. We are tremendously grateful to the RSA!</p>
                <blockquote>
                    <p>I’ve followed Plan Zheroes’ progress since it first launched in 2010, and have been impressed not only by the strength of the idea – which is simple and provocative – but by the resilience of the team involved. Any project that depends on volunteer time, as Plan Zheroes has throughout its development, needs to balance the demands of growth and publicity with the pressure this can exert on the people doing the work. My own feeling is that this owes a lot to both the personal dedication of the people working on the project, and the open, inclusive atmosphere that they’ve created around it.</p>
                    <footer>Sam Thomas
                        <cite title="Source Title"> - Project Engagement Manager (The RSA)</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!-- The School for Social Entrepreneurs -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.the-sse.org/" target="_blank"><img src="images/sponsors/school_social_entrepreneurs.jpg" alt=""></a>
                <a href="http://www.lloydsbank.com/" target="_blank"><img src="images/sponsors/llyods.png" alt=""></a>
                <a href="http://www.lloydsbank.com/" target="_blank"><img src="images/sponsors/lottery_funded.png" alt=""></a>
            </div>
            <div class="col-sm-8">
                <p>We were absolutely thrilled to be one of SSE / Lloyds Bank Start Up selected projects and our CEO and Co-Founder Maria Ana one of the entrepreneurs for the 2014/15 cohort. This is a one in a million opportunity to make the transition from a citizens’ campaign towards becoming a professionally-run organisation. We love the ethos and method of the SSE approach!</p>
                <p>SSE / Lloyds Bank Start Up The Lloyds Bank Social Entrepreneurs Programme is provided by the School for Social Entrepreneurs, which is funded by Lloyds Bank and the Big Lottery Fund. From 2012- 2017 it will support 1,300 social entrepreneurs to start or grow an organisation that benefits their community. The partnership with the School of Social Entrepreneurs goes right to the heart of Lloyds Banking Group's Business strategy. The programme is a key component of the Group's community activity and is designed to support social entrepreneurs and, through them, help economic growth and regeneration in the UK. The Lloyds Bank Social Entrepreneurs Programme is an enduring partnership that will deliver a long lasting legacy to communities.</p>
                <p>The Big Lottery Fund (BIG) is the largest of all the Lottery funding distributors and is responsible for distributing 40 per cent of the Lottery good causes money. BIG supports projects working in the areas of local health, education and the environment, and for charitable purposes. Since it was set up in June 2004 BIG has awarded over £6 billion to projects across the UK.</p>
                <p>The School for Social Entrepreneurs was founded in 1997 by Michael Young. Its mission is to address inequalities and social exclusion by supporting social entrepreneurs from all backgrounds to transform their talent into real social outcomes, in the form of sustainable solutions to poverty and disadvantage in communities.
                </p>
            </div>
        </div>

        <!-- Tudor Trust -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://tudortrust.org.uk/" target="_blank"><img src="images/sponsors/tudor_trust.jpg" alt=""></a>
            </div>
            <div class="col-sm-8">
                <p>The Tudor Trust is an independent grant-making charitable trust which supports organisations working in any part of the UK. They fund a wide range of people and organisations working to build stronger communities. Their funding programmes are designed to advance a particular agenda as they think that the groups they support are best placed to identify problems and develop solutions.</p>
                <p>This was one of those unusual extraordinary real elevator pitch! In a short journey in a lift, our co-founder Lotti had a short talk with to someone from Tudor Trust, and as a result we received a donation to Plan Zheroes! We called it a little miracle and believe we will have more of these. Many thanks Lotti and Tudor Trust!</p>
            </div>
        </div>
        <!-- WRAP -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.wrap.org.uk/" target="_blank"><img src="images/sponsors/wrap.jpg" alt=""></a>
                <a href="http://www.wrap.org.uk/" target="_blank"><img src="images/sponsors/wrap-hafsa1.png" alt=""></a>
                <a href="http://www.wrap.org.uk/" target="_blank"><img src="images/sponsors/wrap-hafsa2.png" alt=""></a>
            </div>
            <div class="col-sm-8">
                <p>WRAP (Waste & Resources Action Programme) is an independent not-for-profit organisation in the UK. It works with businesses, individuals and communities to achieve a circular economy, through helping them reduce waste, develop sustainable products and use resources in an efficient way. Our work would be nearly impossible without the knowledge and support from WRAP.</p>
                <p>Plan Zheroes’ pledge as supporter of the WRAP HaFSA (Hospitality and Food Services Agreement) is to support signatories in the delivery of collective sector-wide targets to prevent food waste by 5%. We aim to do this through the development of technology, combined with services developed to simplify and streamline diversion of surplus food to local charities, as well as disseminating solutions and providing help to overcome barriers to donating surplus food.</p>
                <p>WRAP funded the first stage of redevelopment of our new platform, and Plan Zheroes has contributed to various HaFSA working groups, championing “surplus food” as one effective strategy for waste prevention targets.
                </p>
                <blockquote>
                    <p>WRAP is pleased to have Plan Zheroes as a supporter to the Hospitality and Food Service Agreement. WRAP's research shows that the sector throws away nearly 1 million tonnes of food each year at a cost of £2.5 billion. Much of this is food that could have been eaten. Plan Zheroes plays an active role in the Agreement, particularly in our working groups. By providing a route for surplus food to reach people in need rather than being thrown away, Plan Zheroes inspires others to deliver change.</p>
                    <footer>Charlotte Henderson
                        <cite title="Source Title"> - Hospitality and Food Service Programme Area Manager (WRAP)</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <h1>Supporters and friends</h1>
        <!-- 3 Space -->
        <div class="row row-first">
            <div class="col-sm-3 logo-sponsor">
                <a href="https://www.3space.org/" target="_blank"><img src="images/sponsors/3space.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>3 Space is an innovative charity which unlocks the potential of empty commercial property by making it available for temporary community use… and this is how we have the first Plan Zheroes office space, in Oxford St in central London!</p>
                <p>Plan Zheroes had mainly grown around Lotti Henley’s kitchen table, with weekly meetings and bowls of yummy soups. Then our founder Trustee Paul Corney helped us set up our virtual office, and we kept meeting around the city in museums and cafés. But in 2014 we had to find an office space to help us consolidate our team and work. We were thrilled when 3 Space accepted our application - this has made a critical difference for our team.</p>
                <p>3 Space work in partnership with landlords and leaseholders to offer organisations that benefit the community temporary, free of charge, access to otherwise empty properties. These spaces are made available to charities, registered community organisations and social enterprises for temporary, pop-up projects.
                </p>
            </div>
        </div>

        <!-- Benefacto -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://benefacto.org/" target="_blank"><img src="images/sponsors/benefacto.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Benefacto is a social enterprise (C.I.C.) which was set up to provide volunteering opportunities to professionals, and help charities find professional volunteers to contribute time on a short term basis. Benefacto has the sole aim of getting more employee volunteers contributing to the community and, by doing so, unlocking their energy, application and skills for the benefit of organisations who need it most!</p>
                <blockquote>
                    <p>Plan Zheroes have taken a number of groups of corporate volunteers through Benefacto, effectively utilising this help to build links with both charities and food businesses. A useful bi-product of this is educating professional people about the challenges around food waste, and sending them as 'champions' back into the companies where they work.</p>
                    <p>One of the charities who I support through Benefacto, who also works with Plan Zheroes stated "We are very fortunate as they helped us set up a link with Paul (patisserie) which now supplies bread to our Drop In Café. I’ve been very impressed by Chris and his energy</p>
                    <p>Their reach in terms of inspiring social change stretches far beyond their key aim of reducing food waste by connecting organisations. When I started Benefacto, Plan Zheroes met with me to talk about my objectives and pass on their experience working in a similar field and they have also connected me to a number of organisations requiring volunteers!"</p>
                    <footer>Linz Darlington
                        <cite title="Source Title"> - Director/Founder of Benefacto.org</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!-- Best before project -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="" target="_blank"><img src="images/sponsors/best_before.png" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Best Before Project works to set up, maintain and expand a regional and local collection and redistribution network for food that is approaching, or has passed, its “best before” date that would otherwise be sent to landfill, thereby helping to tackle the problem of waste and reducing its environmental impact. They also work to campaign and educate individuals and companies to understand what "Best Before" means.</p>
                <p>We met the Best Before team at a Feeding the 5000 event at Trafalgar Square several years ago and we have worked together ever since. Our collaboration is a perfect example of how Zheroes map and platform works: sharing information, experiences, contacts and do whatever we can to find the best solutions before food becomes waste. Voytek, Hanna and the team are true Zheroes, they are the people we go to first.</p>
            </div>
        </div>

        <!-- Brighton Food Waste Collective -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="https://www.facebook.com/foodwastecollective" target="_blank"><img src="images/sponsors/brighton_food_waste_collective.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>The Food Waste Collective is a hub for people who are passionate about addressing food waste in Brighton & Hove. They are absolute passionate about supporting sustainable, ethical alternatives for the tonnes of perfectly good food that is thrown away from retailers, businesses and farms every year. The Collective hosts community actions, talks and social events, as well as supporting other local initiatives tackling food waste in Sussex. They are a sub-group of Hanover Action for Sustainable Living.</p>
                <p>This group has done impressive work in spreading the concept that surplus food is not waste, and engaging charities in the idea of making best use of surplus food, rather than simply purchasing or asking for public donations of paid food. They have been a great Zheroes’ supporter, helping charities and businesses in Brighton and Hove to sign up to our map. We learn from them, and love all the great work they do!
                </p>
            </div>
        </div>

        <!-- Citizens UK -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.citizensuk.org/" target="_blank"><img src="images/sponsors/citizens_uk.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Citizens UK is the foundation for Plan Zheroes. Our founders (Lotti, Chris, Maria Ana and Jane) met through West London Citizens, where Lotti had set up the GPAT group (Greener Planet Action Team) and it was here where we had the vision for Plan Zheroes, and learned everything we know about community organising. </p>
                <p>Citizens UK is a powerful alliance of local community organising groups, bringing together churches, mosques and synagogues; schools, colleges and universities; unions, think-tanks and housing associations; GP surgeries, charities and migrant groups to work together for the common good. Most of their work is campaigning at grassroots level, and developing the capacity of their members to build power locally, so they can hold politicians and other decision makers to account. </p>
                <p>We are fond of, and most grateful to, Citizens UK for their full support in getting Plan Zheroes off the ground. We also love their campaigns such as Living Wage, City Safe and Social Care campaigns… a big thanks from us to Citizens UK!
                </p>
            </div>
        </div>

        <!-- Considerate Hoteliers -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.consideratehoteliers.com/" target="_blank"><img src="images/sponsors/considerate_hoteliers.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Created in 1991 in Westminster with a founder membership of London's flagship hotels, the Considerate Hoteliers Association (CHA) was one of the first hotel associations worldwide to impart the message that care for the environment and social responsibility should form a major part of a responsible hotelier's agenda. Always in the vanguard of the green debate, imparting advice and information to like-minded hotel companies and individuals, the association continues to go from strength to strength, gathering and networking with fellow hoteliers and setting the examples for others to follow.</p>
                <p>We met the Considerate Hoteliers team at the WRAP HaFSAs groups, and have been collaborating since then. So far we have shared knowledge, explored ways of collaborating, contributed to training and placed the agenda of diverting surplus food at the top of the waste prevention initiatives. Much more will happen out of this great collaboration!</p>
            </div>
        </div>

        <!-- Cranfield Trust -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://cranfieldtrust.org/" target="_blank"><img src="images/sponsors/cranfield_trust.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>In 1989, HRH The Princess Royal challenged the staff, students and alumni of Cranfield University to use their skills to benefit the voluntary sector. They responded by establishing The Cranfield Trust. With a network of alumni, the Cranfield Trust supports charities with a great pool of talent, offering consultancy (pro-bono) with a diverse range of expertise. Stefan Lubo , who has been a Zheroes super supporter, introduced the Cranfield Trust to Plan Zheroes, and as a result we applied and after a comprehensive review of our needs, it was agreed to have a project to help us structure an operational plan. This amazing project brought Hugh Buckley to Plan Zheroes, and we are incredibly grateful and impressed with Hugh’s input in helping Plan Zheroes’ transition to articulate our organizational model and to structure the operation and business model.</p>
                <p>We simply love the Cranfield Trust and would recommend them to any charity.</p>
            </div>
        </div>

        <!-- The Dinner Exchange East -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://thedinnerexchangeeast.wordpress.com/" target="_blank"><img src="images/sponsors/dinner_exchange_east.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>The Dinner Exchange is an open collective, consisting of people who care about food. They gather around the idea of questioning food waste and food distribution in the UK.The aim of The Dinner Exchange East is to generate debate around food waste. With each dinner they hope to bring to the table, quite literally, the issues of food waste and food distribution, all in a lively and convivial setting.</p>
                <p>What we really like about this, is that they do it, rather than talk about the problems, they cook, upcylce, and make tasty and nutritious food from ingredients that would have been wasted. They collect money from their guests and donate them to food-related projects… and Plan Zheroes had the privilege to be among those they have helped, which include Growing Communities, Organiclea, People's Kitchen, Feeding the 5k and FoodCycle.</p>
            </div>
        </div>


        <!-- Fareshare -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.fareshare.org.uk/" target="_blank"><img src="images/sponsors/fareshare.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>FareShare is one of our greatest inspirations. Their mission is to fight hunger and its underlying causes by redistributing surplus food to hundreds of local charities across the UK, which is what real Zheroes do. FareShare is the best established and managed surplus food redistributor in the UK, and operates on a national scale. They obtain surplus food through partnerships with the food industry and deliver to more than 1,200 charities and community projects across the UK, helping to feed 62,200 people a day.</p>
                <blockquote>
                    <p>FareShare has never ceased to be impressed and inspired by the passion and power that Plan Zheroes generates. Their drive to just ‘get things done’ is truly impressive. In the space of food surpluses and food waste that ability to effectively and efficiently connect those with surplus food to those who need it is going to be a powerful tool for the future. This is especially the case because organisations like FareShare do not have the logistical capacity to deal with all of the many thousand potential local connections.</p>
                    <footer>Lindsay Boswell
                        <cite title="Source Title"> - CEO (Fareshare)</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!-- Feedback -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="" target="_blank"><img src="images/sponsors/feedback.png" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Another major inspiration for Plan Zheroes was Tristram Stuart and his book “Waste: Uncovering the Global Food Scandal”. It was his research that made our co-founders realise what was happening and made us put all the energy into finding solutions… thank you, Tristam and team! After the book, he created The Feeding the 5000 initiative, together with Niki Charalampopoulou, which evolved into various projects and citizens initiatives shaking the world, such as the Gleaning Network. Now evolved into a much bigger organisation named Feedback. </p>
                <p>Feedback works in partnership with a wide range of organisations internationally, from governmental and international organisations to grassroots initiatives, including the Greater London Authority, the United Nations Environment Program’s Think.Eat.Save. campaign, UN Zero Hunger Challenge, FareShare, WRAP, Disco Soupe, FoodCycle, the Sustainable Food Trust and the European Commission’s EU FUSIONS project. They have partner organisations from Spain to the USA, Kenya to Norway adopting the campaigns we have developed in the UK. </p>
                <p>Our co-founder Lotti was a speaker at one of the early Feeding the 5000 events in Trafalgar Square where the first Zheroes Map was presented for the first time! Since then we have had a great relationship with the team. One of our own volunteers, Dominika, now works with them.</p>
            </div>
        </div>

        <!-- Food Cycle -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://foodcycle.org.uk/" target="_blank"><img src="images/sponsors/food_cycle.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>FoodCycle is a UK charity that combines volunteers, surplus food and spare kitchen spaces to create tasty, nutritious meals for people at risk of food poverty and social isolation. FoodCycle runs volunteer-powered community projects across the UK – working to reduce food poverty and social isolation by serving tasty, nutritious meals to vulnerable groups. In fewer than 5 years, FoodCycle has developed an impressive role in shifting the cultural perceptions of surplus food as a valuable resource to prevent waste and food poverty. They built one of the most dynamic networks of over 1,200 volunteers, set up hubs, built awareness and also created a positive impact in communities - to prove it just have a look at their Social Impact Report! </p>
                <p>For us, FoodCycle is an absolute Zheroes pioneer, and a great inspiration! We work together in signposting businesses and charities, advise and share knowledge.</p>
            </div>
        </div>

        <!-- FoodSave/Sustain -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.thesra.org/foodsave/" target="_blank"><img src="images/sponsors/foodsave.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>FoodSave is a London-based project, aiming to work with over 240 small and medium-sized food businesses (SMEs) to reduce their food waste… of course diverting surplus food for good purposes is an important part of this! FoodSave is funded by the European Regional Development Fund (ERDF), the London Waste and Recycling Board (LWARB) and the Mayor of London, and is managed by the Greater London Authority (GLA). The project is also supported by the London Food Board and has two delivery partners: Sustain and the Sustainable Restaurants Association (SRA). Sustain has partnered with Plan Zheroes to establish surplus food redistribution, and an example of this is the famous Borough Market project!
                </p>
                <blockquote>
                    <p>Such a simple idea, and yet such a powerful one – through their online map, Plan Zheroes aim to link businesses with surplus food with the charities that so desperately need it. It is an invaluable resource, both for businesses and charities, and for projects like FoodSave that are working to reduce food waste. The Plan Zheroes team are all passionate about what they do. We wish them all the very best for the future – long may this valuable service continue, develop and grow.</p>
                    <footer>Charlotte Jarman
                        <cite title="Source Title"> - Manager of the FoodSafe programme for the GLA</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!-- The London 21 -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.london21.org/" target="_blank"><img src="images/sponsors/london_21.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>London 21 is a network of community groups, individuals and representatives who work in all parts of Greater London to help create a greener, healthier and more sustainable City. it has been operating since 2000. London 21 runs several projects, including the Environmental Inequalities Project, the Black Minority and Ethnic Groups (BME) Project, Mapping Change for Sustainable Communities and the London Green Map which maps green activities, projects, businesses and organisations all over London. It also seeks to provide information, advice, capacity building and networking to the community and voluntary sector on sustainable development.</p>
                <p>Plan Zheroes approach would have looked very different without the funding from The RSA and the input from Mapping for Change, one of London 21 projects which designed and built our very first map! It was an amazing breakthrough moment for Plan Zheroes.</p>
            </div>
        </div>

        <!-- London Leaders -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.londonsdc.org/londonleaders/" target="_blank"><img src="images/sponsors/london_leaders.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>The purpose of the London Leaders programme is to demonstrate the power of leadership, collaboration and innovation in tackling the sustainability challenges inherent in global cities such as London.Each year the London Sustainable Development Commission, with the support of the Mayor of London, identifies and nurtures some of London’s most exciting and innovative new leaders in sustainable business and communities, supporting them to demonstrate sustainability in action and the contribution of green entrepreneurs to the London economy and the city’s quality of life. Plan Zheroes, with our inspiring co-founder Lotti was elected a London Leader in 2011.</p>
                <p>It is a great resource, from the network to the insights, sharing the momentum and network. Being part of the London Leaders programme provided a tremendous boost in our confidence and also exposure to relevant people and organisations. It is just brilliant to be recognised by the Mayor of London and to join a group of inspired pioneers.
                </p>
            </div>
        </div>

        <!-- The London Sustainable Development Commission -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.londonsdc.org/" target="_blank"><img src="images/sponsors/london_sustainable_development_commision.png" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>The London Sustainable Development Commission (LSDC) was established in 2002 to advise the Mayor of London on making London an exemplary sustainable world city. The Commission is made up of individual experts from the economic, social, environmental and London governance sectors. Commissioners give their time voluntarily, promoting sustainable development, embedding sustainability into London wide strategies, and helping make sustainability a meaningful and understandable concept for all Londoners. London Leaders is one the LSDC initiatives!</p>
            </div>
        </div>

        <!-- Pret a Manger -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.pret.com/" target="_blank"><img src="images/sponsors/pret.png" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Pret a Manger was the company that really inspired and helped us when Plan Zheroes first began. We heard how they had been donating their sandwiches and salads to charities for over 25 years, so this gave us hope that other businesses could do the same.</p>
                <p>Head of Sustainability Nicki Fisher very kindly shared her experiences of donating food, and she also helped us to formulate the legal agreement we use for the charities we work with. Nicki and her colleague Giovanna are probably the best team of Zheroes we have ever met at all levels: from how they implement solutions, to their attitude and how they inspire others to engage with this concept!</p>
            </div>
        </div>

        <!-- Slow Food UK-->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.slowfood.org.uk/" target="_blank"><img src="images/sponsors/slow_food.png" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Slow Food is a global, grassroots movement with thousands of members around the world that links the pleasure of food with a commitment to community and the environment. It was founded in 1989 in Italy. Slow Food UK is based in London, but has local groups all around the UK.</p>
                <p>We have been working with Slow Food UK for several years now. We have a shared mission in promoting the value of food and connecting people through the use of food, to prevent food waste and hunger. Best of all, Shane Holland, Head of Slow Food UK, has recently joined Plan Zheroes as our new Chairman!</p>
            </div>
        </div>

        <!-- The Sourcepan Collective -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="https://www.facebook.com/SourcepanCollective" target="_blank"><img src="images/sponsors/source_pan.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>This is a pop-up community kitchen project, combining locally sourced meals with a creative platform for arts, introduced to Plan Zheroes by Lise Thiollier who has now establish the Morningside Cafe . We worked together with the Sourcepan Collective and had a great experience!!</p>
                <blockquote>
                    <p>Collaborating with Plan Zheroes was an insightful, learning experience for Sourcepan Collective. As a young organisation working with surplus food, this event gave us a broader perspective on the food waste issue and how it is being addressed currently by non-profit organisations. It was very interesting to get a glimpse of a different level on the surplus chain; the distribution of surplus food, and how it is dealt with and organised. Cooking for this matching event was not only a fun, creative opportunity for us in the kitchen, but also a valuable experience and an opportunity to network with other organisations working in a similar field. We hope to offer our services to more events of the sort in future, and would love to collaborate with Plan Zheroes again!</p>
                    <footer>Ellen Tm
                        <cite title="Source Title"> - Volunteer (The Sourcepan Collective)</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <!-- Waste Watch and Keep Britain Tidy-->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.wastewatch.org.uk/" target="_blank"><img src="images/sponsors/waste_watch.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>Waste Watch merged with Keep Britain Tidy in 2011. Together they exist to inspire, educate and enable people to be litter free, waste less and live more. They believe improving our environment is a positive message that goes hand in hand with improving our well-being and happiness in life. Their aim is to show communities, schools, organisations and government how.</p>
                <p>By wasting less, they mean anything that is squandered or not put to best use. That could be materials, natural resources, energy, time, money, skills or potential.</p>
                <p>Plan Zheroes is totally aligned with Waste Watch and Keep Britain Tidy’s mission and values. For us, they are a great support to any Zheroes in the UK. We never waste an opportunity to learn and join their initiatives, especially those relating to food waste prevention</p>
            </div>
        </div>

        <!-- Zero Waste Alliance -->
        <div class="row">
            <div class="col-sm-3 logo-sponsor">
                <a href="http://www.zerowaste.org/" target="_blank"><img src="images/sponsors/zero_waste_alliance.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-8">
                <p>The Zero Waste Alliance (ZWA) has a clear and simple vision: a prosperous and inclusive future without waste. It works with industry and communities to build markets, attack barriers, share experiences and disperse its vision. It leverages more than a decade of experience, intellectual assets and the ability to bridge business, government, academics and non-governmental organizations. Its expertise helps build awareness of existing opportunities and advance industry and community capacity to successfully implement zero waste strategies.</p>
                <p>To pursue its vision of a future without waste, the Zero Waste Alliance works with a wide range of industry, government, community, non-profit and higher education organizations. Its work strives to promote open engagement, work through a whole systems approach, model nature and pursue highest use for all materials, work with, versus against, the market and, lastly, avoid negative discourse and transform industry and communities through positive change.
                </p>
            </div>
        </div>

        <!-- Private donations -->
        <h1>Private donations</h1>
        <div class="row row-first">
            <div class="col-sm-11">
                <p>We are extremely grateful to all volunteers and experts who helped Plan Zheroes with their time and skills, knowledge and wisdom. Equally we wouldn’t be able to do what with we do without the support of our families and friends... to all you, a <strong>huge thank you!</strong> Please do keep supporting the Plan Zheroes team, we can only improve.</p>
                <p>The other amazing form of support comes in through personal donations. To all incredibly generous supporters, here is our <strong>big thank you!</strong> Your contributions boost our hope so needed to continue our work and mission! Over the last year we had been supported by Mr and Mrs Gundle, Peter from Liverpool, Sue Lupton, Alix Henley and Fred Aldelmann.
                </p>
            </div>
        </div>
    </section>
</article>
