<section>
    <div class="row">
        <div class="registration">
            <div class="titleWrapper">
                <div class="title">
                    <h1>Reset your password</h1>
                </div>
            </div>
            <div class="wrapperTable">
                <div class="wrapperRow">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>

                            <div class="col-sm-8">
                                <div class="movedDown">{{email}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-sm-4 control-label">Password</label>

                            <div class="col-sm-8 has-feedback"
                                 ng-class="{'has-success' : isPasswordFormatOK(), 'has-error': password1 && !isPasswordFormatOK()}">
                                <input type="password" class="form-control" id="inputPassword1" placeholder="Password"
                                       ng-model="password1" ng-change="validatePass1 = false"
                                       ng-blur="validatePass1 = true" required>
                                <span class="icon-correct form-control-feedback" ng-show="isPasswordFormatOK()"></span>
                                <span class="icon-incorrect form-control-feedback"
                                      ng-show="validatePass1 && !isPasswordFormatOK()"></span>

                                <div class="formError" id="inputPassword1Error"
                                     ng-show="validatePass1 && !isPasswordFormatOK()"
                                     translate="messages.passwordRule"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2" class="col-sm-4 control-label">Retype Password</label>

                            <div class="col-sm-8 has-feedback"
                                 ng-class="{'has-success': password2 && passwordMatches(), 'has-error': password2 && !passwordMatches()}">
                                <input type="password" class="form-control" id="inputPassword2"
                                       placeholder="Repeat password" ng-model="password2"
                                       ng-change="validatePass2 = false" ng-blur="validatePass2 = true" required>
                                <span class="icon-correct form-control-feedback"
                                      ng-show="password2 && passwordMatches()"></span>
                                <span class="icon-incorrect form-control-feedback"
                                      ng-show="validatePass2 && !passwordMatches()"></span>

                                <div class="formError" id="inputPassword2Error"
                                     ng-show="validatePass2 && !passwordMatches()">Your passwords do not match. Please
                                    check and re-type passwords
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="tokenError">
                            <div class="alert alert-warning">This link to reset your password has expired. <br/><a
                                    ui-sref="forgotten">Click here</a> to request an email with a new link to reset your
                                password.
                            </div>
                        </div>
                    </form>

                    <div class="buttons">
                        <a class="cancel" ng-click="cancel()">Cancel</a>
                        <button class="standard tick positiveAction" ng-click="resetPassword()"
                                ng-disabled="!validate()">Reset
                        </button>
                    </div>
                </div>
                <div class="wrapperRow">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>
