<section>
    <div class="row">
        <div class="registration">
            <div class="titleWrapper">
                <div class="title">
                    <h1>Reset your password</h1>
                </div>
            </div>
            <div class="wrapperTable">
                <div class="wrapperRow">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <p>Your password has been reset.</p>
                        </div>
                    </form>

                    <div class="buttons">
                        <button class="standard arrow positiveAction" ng-click="continue()">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>