<div class="informOverlay">
    <div class="titleWrapper">
        <div class="title">
            <h1 class="white">Please select</h1>
        </div>

    </div>
    <div class="content">

        <div class="textContent">
            <p><strong>Charity:</strong> If you are a charity that needs food, whether it's on a daily, weekly or monthly basis.</p>
            <p><strong>Business:</strong> If you work for/are a business that has surplus food that you would like to donate.</p>
            <p><strong>Volunteer:</strong> If you have free time to help spread the word or can help transport food.</p>
            <p><strong>Transporter:</strong> If you are a specialist in food logistics and can help to transport food from businesses to charities.</p>

            <p class="help-block">If you still don't know, no worries! Contact us at <a href="mailto:info@planzheroes.org">info@planzheroes.org</a></p>
        </div>

    </div>

    <div class="footer-buttons">
        <button
                class="standard positiveAction tick" ng-click="close()" >OK</button>
    </div>

</div>
