.login {
  background-image: url("/images/backgrounds/login.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  font-family: $font-family-serif;
  padding: 0;
  color: white;

  a ,a:visited , h1, h2 ,legend{
    color: white;
  }

  form {
    background-color: $secondary-darker;
    padding: $container-padding;
    label{
      padding-bottom: 11px;
    }
    .submit-group{
      text-align: 30px;
    }
    .formError{
      background-image: url("../images/icons/icon-status-rejected.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      padding-left: 25px;
    }
    .formSuccess{
      background-image: url("../images/icons/icon-status-reviewed.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      padding-left: 25px;

    }
    .buttons{
      line-height: 25px;
    }
  }

  .alert {
    font-family: $font-family-sans-serif;
  }

  .btn-success{
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: text-bottom;
  }
  #or{
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .login form {
    float: left;
    margin: 50px 0 100px 0;
    width: 80%;
  }
}

@media screen and (min-width: $screen-md-min) {

  .login {
    background-size: 100%;
  }

  .login form {
    float: left;
    margin: 100px 0 100px 0;
    width: 60%;
  }
}

@media screen and (min-width: $screen-lg-min) {

  .login {
    background-size: 100%;
  }

  .login form {
    width: 40%;
  }
}

@media screen and (max-width: $screen-xs-max) {

  .login form .forgot-password {
    display: block;
    margin-top: 10px;
  }
}

@media screen and (min-width: $screen-sm-min) {

  .login form .forgot-password {
    margin-left: 25%;
  }
}



