<article>
    <h1>Zheroes Stories</h1>

    <section>
        <div class="items-list" ng-hide="!recordItems.length">
            <div class="items-list--item" ng-repeat="item in recordItems">
                <h2>{{ item.title }}</h2>
                <p class="description">{{ item.description }}</p>
                <a ui-sref="success_stories_detail({id: item.id })" title="Read the zHeroes article">Read more</a>
            </div>
        </div>


        <!-- if no recordItems -->
        <div class="empty" ng-hide="recordItems">
            <h2>No Zheroes stories available.</h2>
        </div>
        <!-- end if -->
    </section>
</article>
