.pagination.small > li > a,
.pagination.small > li > span {
  padding: 3px 6px;
  border-radius: 10px !important;
  margin-right: 10px;
  font-size: $font-size-h6;
  text-align: center;
  border: none;
  background-color: $secondary-purple-light;
}

.pagination.small > li {

  &.active > a,
  &.active > span {
    background-color: $navigation-color !important;
    color: black !important;
  }

  &:last-child a,
  &:last-child span {
    margin-right: 0;
  }
}