/* Fixed the styling of the navigation menu items */

.navbar {
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-nav .btn-callout {
    background-color: transparent;
    border: 1px solid $link-color;
    color: $link-color;
    margin-left: 10px;
}
@media (min-width: $grid-float-breakpoint) {
    .navbar-main-menu {
        padding-right: $header-button-width;
    }
}
/* Enable the company branding logo */

.navbar-brand {
    background: url(../images/brand/logo.png) 0 0 no-repeat;
    height: 61px;
    margin-top: 14px;
    overflow: hidden;
    text-indent: -9000px;
    width: 76px;
}
/* Back Chevron icon for back button */

.navbar-back {
    overflow: hidden;
    width: $header-button-width;
    height: $header-height;
    background: url(../images/buttons/chevron-left.png) no-repeat center center;
    text-indent: -9000px;
}
.navbar-account {
    position: absolute;
    top: 0;
    right: 0; // ceil($navigation-padding * 1.5);
}
.navbar-login {
    border: none;
    float: right;
    padding: 0 10px;
    font-size: 18px;
    line-height: 18px;
    overflow: hidden;
    width: $header-button-width;
    height: 90px;
    background: $navigator-stroke-color url(../images/brand/login.png) no-repeat center center;
    text-indent: -9000px;
    &:focus {
        outline: none;
    }
}
.navbar-collapse {
    padding: 0;
}
.authenticated_user-menu {
    hr {
        margin: 10px 0 20px 0;
    }
}
.navbar-user-menu {
    background: $secondary-blue;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    position: absolute;
    top: 95px;
    right: 10px;
    z-index: 51000;
    width: 320px;
    @media (max-width: $screen-md) {
        top: 60px;
    }
    &:before {
        border-right-width: 10px;
        border-bottom-width: 15px;
        border-left-width: 10px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #4c9fc7;
        content: " ";
        position: absolute;
        top: -18px;
        right: 17px;
    }
    &.open {
        display: block;
    }
    p {
        font-family: "bree_serifregular", serif;
        &.user-name {
            font-size: 26px;
            margin-bottom: 0;
            width: 100%;
        }
        &.business-name {
            font-size: 18px;
            margin-bottom: 10px;
            vertical-align: top;
            i.profile-type {
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                display: inline-block;
                background-size: 100%;
                margin-right: 10px;
                &.business {
                    background-image: url(../images/icons/icon-business.png);
                }
                &.charity {
                    background-image: url(../images/icons/icon-charity.png);
                }
                &.transporter {
                    background-image: url(../images/icons/icon-transporter.png);
                }
                &.volunteer {
                    background-image: url(../images/icons/icon-volunteer.png);
                }
            }
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        font-size: 18px;
        margin-bottom: 15px;
        &:last-child {
            font-family: "bree_serifregular", serif;
            margin-bottom: 0;
        }
    }
    a {
        color: #fff;
    }
}
@media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}
.navbar-default .navbar-nav li.contact > a:after {
    border: 0;
}
.navbar-default .navbar-nav li.my_deliveries {
    a {
        padding-left: 35px;
        i {
            background: url(/images/icons/icon-donations.png) 0 0 no-repeat;
            height: 23px;
            width: 23px;
            &.unread {
                background: url(/images/icons/icon-donations-unread.png) 0 0 no-repeat;
            }
        }
    }
}
.navbar-default .navbar-nav li.my_messages {
    a {
        padding-left: 35px;
        i {
            background: url(/images/icons/icon-message.png) 0 0 no-repeat;
            height: 14px;
            width: 23px;
            &.unread {
                background: url(/images/icons/icon-message-unread.png) 0 0 no-repeat;
            }
        }
    }
}
.navbar-default .navbar-nav li > a i {
    color: #fff;
    display: block;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    position: absolute;
    left: 0;
    text-align: center;
}
@media (min-width: $screen-md-min) {
    .navbar-default {
        .navbar-nav {
            float: right;
            margin: 46px 49px 0 0;
            li {
                padding: 0;
                > a {
                    margin-left: 15px;
                    padding: 0;
                    &:hover {
                        background: none;
                        color: $primary-purple;
                        span {
                            border-bottom: 2px solid $primary-purple;
                        }
                    }
                    span {
                        margin-right: 15px;
                    }
                    i {
                        color: #fff;
                        display: block;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: bold;
                        line-height: 14px;
                        position: absolute;
                        left: 0;
                        text-align: center;
                    }
                    &:after {
                        border-right: 1px solid $brand-gray;
                        content: " ";
                        display: block;
                        height: 11px;
                        position: absolute;
                        top: 4px;
                        right: 0;
                    }
                }
                &.active {
                    > a {
                        background: none;
                        color: $primary-purple;
                        &:hover {
                            background: none;
                        }
                        span {
                            border-bottom: 2px solid $primary-purple;
                        }
                    }
                }
                &.create_message {
                    a {
                        padding-left: 30px;
                        i {
                            background: url(/images/icons/icon-create.png) 0 0 no-repeat;
                            height: 26px;
                            top: -10px;
                            width: 25px;
                        }
                    }
                }
                &:last-child {
                    a:after {
                        display: none;
                    }
                }
            }
        }
        .navbar-collapse {
            height: auto !important;
        }
    }
}
@media (max-width: $screen-md-max) {
    .navbar-default {
        .navbar-nav.anonymus {
            position: relative;
            margin-top: 56px;
            margin-right: 0;
            li > a {
                margin-left: 10px;
                span {
                    margin-right:10px;
                }
            }
            .btn-callout {
                padding: 7px;
            }
        }
        li.contact > a {
            span {
                margin: 0;
            }
        }
        li.signin {
            position: absolute;
            top: -35px;
            right: 80px;
        }
        li.joinus {
            position: absolute;
            top: -35px;
            right: 10px;            
        }
    } 
}
@media (max-width: $screen-sm-max) {
    .navbar {
        min-height: 0;
    }
    .navbar-login {
        height: 50px;
    }
    .navbar-brand {
        background-size: 50px;
        margin: 0 auto;
        padding: 0;
        height: 40px;
        width: 50px;
        float: none;
        display: block;
    }
    .navbar-header {
        position: relative;
        padding: 5px 0;
    }
    .navbar-default {
        border: none;
        margin-bottom: 0;
        padding: 0;
        .navbar-toggle {
            position: absolute;
            float: left;
            margin: 0 10px;
            width: $header-toggle-button-width;
            height: 40px;
            border-radius: 0 !important;
            &:hover {
                border-radius: 0 !important;
            }
            &:focus {
                background: none;
            }
            .icon-bar {
                width: auto;
                height: 2px;
            }
            .icon-bar + .icon-bar {
                margin-top: 6px;
            }
        }
        .navbar-collapse {
            background: #fff;
            border: none;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
            height: auto;
            margin: 0;
            padding: 0;
            z-index: 1;
            margin-left: -5px;
            margin-right: -5px;
            border-top: 2px solid $secondary-blue;
        }
        .navbar-nav {
            margin: 0;
            width: 100%;
            > li > a {
                border-right: none;
                padding: 15px 20px;
                &:hover {
                    background: $brand-gray;
                }
            }
            > .active > a {
                background-color: $secondary-blue;
                color: #fff;
            }
            .signin {
                display: none;
            }
            .joinus {
                display: none;
            }
        }
    }
}