<article>
    <h1>Manage content</h1>

    <section>
        <p>In this section you are available to manage content of the web-site.</p>

        <ul>
            <li><a ui-sref="admin_profiles">Approve outstanding profiles</a></li>
            <li><a ui-sref="admin_subscribers">Newsletter subscribers</a></li>
            <li><a ui-sref="admin_news">Manage News stories</a></li>
            <li><a ui-sref="admin_success_story">Manage Zheroes stories</a></li>
        </ul>
    </section>
</article>
