<article>
    <h1>Thanks for registering!</h1>

    <section>
        <p>You will receive an email shortly with further instructions to complete the registration. Please note that sometimes this could take a few minutes or you could find this email in your spam folder.</p>
        <br />
        <p>In the meantime, you could find out more about us through <a ui-sref="howyoucanhelp">How you can help</a> or check our most <a ui-sref="faqs">frequently asked questions</a> about Plan Zheroes</p>
    </section>
</article>
