//
// Variables
// --------------------------------------------------

//== Layout
//
$planz-document-width: 1140px !default;

$header-height: 90px;
$header-button-width: 75px;
$header-toggle-button-width: 55px;
$footer-height: 60px;
$page-title-height: 90px;

p, ul {
	line-height: 1.5em;
}
