<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
    <div class="arrow"></div>

    <div class="popover-inner">
        <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>

        <div class="popover-content">
            <ul class="social-share">
                <li class="twitter-share" ng-click="shareTwitter()">Twitter</li>
                <li class="facebook-share" ng-click="shareFacebook()">Facebook</li>
            </ul>

        </div>
    </div>
</div>