<article>
  <h1>My profile</h1>
  <section>
      <div class="row clearfix">

          <div class="col-sm-6 col-sm-push-6 col-md-4 col-md-push-8 col-lg-3 col-lg-push-9">
              <div class="profile--status">
                  <section>
                      <h3>Profile status</h3>

                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ profileStatus.progress }}"
                               aria-valuemin="0" aria-valuemax="100" style="height: {{profileStatus.progress}}%;">
                              <span>{{ profileStatus.progress || 0 }}%</span>
                          </div>
                      </div>
                      <div ng-if="profileStatus.progress < 100">
                          <p>Fill in more details to improve your profile and know more Zheroes!</p>
                          <a ui-sref="my_profile_modify" class="btn btn-success btn-edit">Complete your profile</a>
                      </div>
                      <div ng-if="profileStatus.progress == 100">
                          Your profile is complete - good job!
                      </div>
                  </section>
              </div>
          </div>

          <div class="col-sm-6 col-sm-pull-6 col-md-pull-4 col-md-4 col-lg-3 col-lg-pull-3">
              <div class="profile--image">
                  <img ng-show="selectedItem.avatar" ng-src="{{ imageUrl }}" alt="Image of {{ selectedItem.fullName }}">
                  <div class="addImage" ng-show="!selectedItem.avatar">
                      <img src="images/my_profile_placeholder.png" alt="add profile image">
                  </div>
              </div>
          </div>

          <fieldset class="col-sm-12 col-md-4 col-md-pull-4 col-lg-6 col-lg-pull-3">
              <div class="profile--summary profile--editable">
                  <h3>{{ selectedItem.fullName }}</h3>
                  <p class="profile-profile-type "><i class="profile-type  ng-class:selectedItem.profileType;"></i><span class=" ng-class:selectedItem.profileType;">{{selectedItem.profileType || capitalizeFirstLetter}}</span></p>
                  <p class="help-block" ng-if="selectedItem.charityNumber"><span>Charity Number: </span> {{ selectedItem.charityNumber }}</p>
                  <p class="help-block" ng-if="selectedItem.foodRegistrationNumber"><span>Food Registration Number: </span> {{ selectedItem.foodRegistrationNumber }}</p>
                  <div class="profile--description">
                      <p>{{ selectedItem.description }}</p>
                  </div>
                  <a ui-sref="my_profile_modify" class="btn btn-success btn-edit">Edit Profile</a>
              </div>
          </fieldset>

      </div>

      <div class="row clearfix">

          <div class="col-md-8 col-lg-9">

              <div class="row clearfix">

                  <fieldset class="col-sm-6 col-md-6 col-lg-4 profile--detail">
                      <div class="profile--editable location icon">
                          <h3>Location</h3>
                          <p class="help-block">This information will help us to recommend you Zheroes near to you.</p>
                          <div class="address-block">
                              <p ng-show="selectedItem.address.address1">{{ selectedItem.address.address1 }},</p>
                              <p ng-show="selectedItem.address.address2">{{ selectedItem.address.address2 }},</p>
                              <p ng-show="selectedItem.address.address3">{{ selectedItem.address.address3 }},</p>
                              <p ng-show="selectedItem.address.address4">{{ selectedItem.address.address4 }},</p>
                              <p ng-show="selectedItem.address.city"><span class="city">{{ selectedItem.address.city }},</span></p>
                              <p><span class="postcode" ng-if="selectedItem.address.postcode">{{ selectedItem.address.postcode }}</span></p>
                              <p>{{ selectedItem.address.country }}</p>
                          </div>
                      </div>
                  </fieldset>

                  <fieldset class="col-sm-6 col-md-6 col-lg-4 profile--detail">

                      <!-- toggle class 'changed' when in details have been edited -->
                      <div class="profile--editable changed contact icon">
                          <h3>Contact Details</h3>
                          <p class="help-block">Only available to those Zheroes who are connected to you.</p>
                          <p><a href="phone:{{ selectedItem.contactPhoneNumber }}" title="Call {{ selectedItem.contactPhoneNumber }}">{{ selectedItem.contactPhoneNumber }}</a></p>
                          <p><a href="mailto:{{ selectedItem.user.email }}" title="Mail to {{ selectedItem.user.email }}">{{ selectedItem.user.email }}</a></p>
                      </div>
                  </fieldset>

                  <fieldset class="col-sm-6 col-md-6 col-lg-4 profile--detail">
                      <div class="profile--editable food icon">
                          <h3>Food type</h3>
                          <p class="help-block" ng-show="selectedItem.profileType=='charity'">What type of food are you willing to accept or do you specially need?</p>
                          <p class="help-block" ng-show="selectedItem.profileType=='business'">What type of food are you willing to offer?</p>
                          <ul>
                              <li ng-repeat="item in selectedItem.foodTypes">{{ item.description }}</li>
                          </ul>
                          <p class="missing-content" ng-hide="selectedItem.foodTypes">N/A</p>
                      </div>
                  </fieldset>

                  <fieldset class="col-sm-6 col-md-6 col-lg-4 profile--detail">
                      <div class="profile--editable donation icon">
                          <h3>Donation size</h3>
                          <p class="help-block">What quantities would you be able to manage?</p>
                          <ul>
                              <li ng-repeat="item in selectedItem.donationSizes">{{ item.description }}</li>
                          </ul>
                          <p class="missing-content" ng-hide="selectedItem.donationSizes">N/A</p>
                      </div>
                  </fieldset>

                  <fieldset class="col-sm-6 col-md-6 col-lg-4 profile--detail">
                      <div class="profile--editable otherInfo icon">
                          <h3>Other information</h3>
                          <p class="help-block">E.g. preferable times to deliver donations or other comments.</p>

                          <p>{{ selectedItem.collectionTime.description  }}</p>
                          <p>{{ selectedItem.other || 'N/A'  }}</p>
                      </div>
                  </fieldset>

              </div>

          </div>
      </div>

  </section>
</article>
